requests
kombu
pika
jsonschema
google-cloud-storage
boto3
boto3-stubs[s3]
cachetools
-e git+https://github.com/ebi-ait/ingest-client.git@782dd754#egg=hca_ingest
smart_open[all]
google-api-python-client